<div id="homePage">
  <div id="marquee">
    
    <%= image_tag "marqueImage-txt-900h430.png", :class => "img-center img-responsive img-shadow-soft img-rounded-corners-12", :title => "Image of happy healthy three-generations" %>
    
  </div><!-- end .marquee-->
    
  <div id="categories" class="row">
    <div id="products" class="col-xsm-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <div class="col-xsm-4 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag "product-grouping1-h128.png", :class => "img-center img-responsive", :title => "BG Image Placeholder 253px X 253px" %>
        </div>
      
        <div class="col-xsm-8 col-sm-8 col-md-8 col-lg-8">  
          <h2>Products</h2>
          <p><b>puraGlucan</b>&trade; <b><em>BG</em></b> is the most potent Beta Glucan available. We offer <b>puraGlucan</b>&trade; <b><em>BG</em></b> in regular strenth100 mg and extra strength 500 mg doses.</p>
          <%= link_to "more. . .", "#", :class => "btn btn-primary btn-sm" %>
        </div>
      </div> <!-- end .row-->
    </div> <!-- end col-1 Products-->
    
    <div id="research" class="col-xsm-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <div class="col-xsm-4 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag "book-stack.png", :class => "img-center img-responsive", :title => "BG Image stack of books" %>
        </div>
        <div class="col-xsm-8 col-sm-8 col-md-8 col-lg-8">  
          <h2>Research</h2>
          <p>With over <b>40 years</b> of intensive research, Beta Glucan well understood with over 3,000 peer-reviewed articles...</p>
          <%= link_to "more. . .", "#", :class => "btn btn-primary btn-sm" %>
        </div>  
      </div> <!-- end .row-->
    </div> <!-- end col-2 Research -->
    
    <div id="science" class="col-xsm-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <div class="col-xsm-4 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag "labGlasswareColor01.png", :class => "img-center img-responsive", :title => "lab glassware image" %>
      </div>
        <div class="col-xsm-8 col-sm-8 col-md-8 col-lg-8">  
          <h2>Science</h2>
          <p>Research on Beta Glucans and their effects on the immune system began in the 1940's and continues to grow  throughout the world...</p>
          <%= link_to "more. . .", "#", :class => "btn btn-primary btn-sm" %>
        </div>  
      </div> <!-- end .row-->
    </div> <!-- end col-3  Science -->
    
  </div> <!-- end .row .offering-->
  
  <section id="productDetails">
    <div class="heading">
      <h1>PURAGLUCAN&trade; SUPPLEMENTS &amp; BOOKS</h1>
    </div>
    <article>
      
    </article>
  </section>
  
</div> <!-- end #homepage-->
